[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
ansible-lint = "*"
ansible-navigator = "*"
argcomplete = "*"
gitpython = "*"
loguru = "*"
redis = "*"
pipenv = "*"
pip = "*"

[dev-packages]
myst-parser = {extras = ["linkify"], version = "*"}
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinx-book-theme = "*"
sphinx-copybutton = "*"
sphinx-favicon = "*"
sphinxcontrib-autoyaml = "*"
sphinxemoji = "*"
