###
# ```{rubric} MarkdownLint GitHub Actions
# ```
# ---
# This is a basic workflow to help you get started with Actions.
#
# ```{literalinclude} /.github/workflows/pages.yml
# :language: yaml
# :start-at: "name: Documentation\n"
# :end-before: "###\n"
# ```
#
# Set a name for the workflow.
name: Documentation
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch: {}

###
# ```{rubric} Permissions Updates
# ```
# Enable read for contents and issues, and write for checks and PRs.
#
# ```{literalinclude} /.github/workflows/pages.yml
# :language: yaml
# :start-at: "permissions:\n"
# :end-before: "###\n"
# ```
permissions:
  contents: read
  issues: read
  id-token: write

###
# ```{rubric} Workflow Jobs
# ```
# ---
# A workflow run is made up of one or more
# jobs that can run sequentially or in parallel
#
jobs:
  ###
  # ```{rubric} markdownlint
  # ```
  # ---
  # Check that the markdown in this repo is up to our (arbitrary) standards.
  #
  # ```{literalinclude} /.github/workflows/pages.yml
  # :language: yaml
  # :start-at: "markdownlint:\n"
  # :end-before: "###\n"
  # ```
  markdownlint:
    permissions:
      checks: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # main
      - name: Set up NodeJS
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # main
      - name: Install the checker
        run: npm i -g markdownlint-cli2 markdownlint-cli2-formatter-junit --save-dev
      - name: Lint the Markdown
        run: markdownlint-cli2 **/*.md *.md
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@27d65e188ec43221b20d26de30f4892fad91df2f # v2.22.0
        if: always()
        with:
          check_name: markdown-lint
          comment_title: Markdown Lint Results
          files: markdownlint-cli2-junit.xml
  ###
  # ```{rubric} Build GitHub Pages Site
  # ```
  # ---
  # Build the pages site using Sphinx and upload the resulting artifact.
  #
  # ```{literalinclude} /.github/workflows/pages.yml
  # :language: yaml
  # :start-at: "  build:\n"
  # :end-before: "###\n"
  # ```
  build:
    needs: markdownlint
    runs-on: ubuntu-latest
    permissions:
      pages: write
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # main
        with:
          fetch-depth: 0
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # main
        with:
          python-version: 3.11
          cache: pipenv
      - name: Setup pages
        uses: actions/configure-pages@d5606572c479bee637007364c6b4800ac4fc8573 # main
      - name: Install pipenv
        run: curl https://raw.githubusercontent.com/pypa/pipenv/master/get-pipenv.py | python
      - name: Install Python dependencies
        run: pipenv install --dev
      - name: Build the static site
        run: pipenv run sphinx-build -a -E . deploy
      - name: Upload artifact
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # main
        with:
          path: "./deploy"
  ###
  # ```{rubric} Deploy the Pages site
  # ```
  # ---
  # Download the artifact and deploy to pages.
  #
  # ```{literalinclude} /.github/workflows/pages.yml
  # :language: yaml
  # :start-at: "  pages:\n"
  # ```
  pages:
    permissions:
      pages: write
      id-token: write
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Download pages artifact
        id: download
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # main
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
